<launch>
  <arg name="state_topic" default="/xm/state" />
  <arg name="marker_topic" default="/xm/markers" />
  <arg name="drone_radius" default="0.2" />
  <arg name="front_ray_angle_deg" default="25.0" />

  <node pkg="planning" type="visualization_node" name="visualization_node" output="screen">
    <param name="state_topic" value="$(arg state_topic)" />
    <param name="marker_topic" value="$(arg marker_topic)" />
    <param name="drone_radius" value="$(arg drone_radius)" />
    <param name="front_ray_angle_deg" value="$(arg front_ray_angle_deg)" />
  </node>
</launch>
